@import url("./common.css");


/* 메인 로고 */
header .row > div:first-child > a {
	display: block;
	width: 139px;
	height: 50px;
	background-image: url(./images/banner.png);
	background-repeat: no-repeat;
	background-size: contain;
}
header .row > div:first-child > a > img {
	display: none;
}
